@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monocraft';
  src: url("./assets/fonts/Monocraft.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

